{% extends "base.html" %}
	{% block content %}
	{% for note in editnote recursive %}
		{% set outer_loop = loop %}
	<hr>
	<b>Add or edit Note</b><br><br>
	<div id = "noteform">
		{% if add == 1 %}
		<form id="noteform" action="/addcontent" method="post">
		{% else %}
		<form id="noteform" action="/editcontent" method="post">
		{% endif %}
		
		{% if user %}
				
			{% if saved %}
				<div style="color: red" >{{ saved }}</div>
			{% endif %}
			
			<label>
				Header:
			</label>

			<input type="text" name="header" {% if add == 1 %} value="Header" {% else %} value="{{ note.header }}" {% endif %}>
			
			<label>
				Subheader:
			</label>
			
			<input type="text"name="subheader" {% if add == 1 %} value="Subheader" {% else %} value="{{ note.subheader }}" {% endif %}>
			<br>
			<label>
				Noteindex:
			</label>
			
			<input type="text"name="noteindex"{% if add == 1 %} {% else %} value="{{ note.noteid }}" {% endif %}>
			<br>		
			<label>
				Note:
			</label>

			<textarea name="note" value="" cols="50" rows="10">{% if add == 1 %}Your Note{% else %}{{ note.note }}{% endif %}</textarea>
			<br>
			
			<input type="submit" value="Save Note">
		</form>
		
		{% else %}
			<div style="color: red" >Please Login first!</div>
		{% endif %}
		{% endfor %}
	</div>
	{% endblock %}