{% extends "base.html" %}

{% block content %}

	{% for stage in stagetitles %}
	<div class="stagetitle">
		<h1>{{ stage }}</h1>
		<div class="subtitle">
			<h4>{{ stagesubtitles[loop.index0] }}</h4>
		</div>
	</div>
		{% for lesson in lesson_headers %}
			<div class="header"><h2><a id="lesson0">{{ lesson }}</a></h2>
			<div class="subheader"><h3>{{ lesson_subheaders[loop.index0] }}</h3></div>
			<div class="text">{{ textcontent[loop.index0] }}</div></div>
		{% endfor %}

	{% endfor %}

{% endblock %}